@using AirWAD.ViewModels
@model AirWAD.ViewModels.SearchRentalsViewModel


@{
    Layout = null;
    ViewData["Title"] = "Search Rentals Page";
}

<style>
    #container {
        width: 1000px;
        margin: auto;
    }

    #header {
        background-color: #808080;
        color: white;
        padding: 10px;
        height: 135px;
    }

    #h_name {
        margin-top: 15px;
        margin-left: 20px;
        width: 50%;
        font-weight: bold;
        float: left;
        font-size: 35px;
    }

    #h_buttons {
        margin-right: 20px;
        margin-top: 30px;
        width: 40%;
        float: right;
        vertical-align: text-bottom;
        text-align: right;
    }

    button {
        width: 160px;
        height: 80px;
        font-size: 25px;
    }

    .button {
        width: 160px;
        height: 80px;
        font-size: 25px;
    }

    #content {
        background-color: #FFFFFF;
        text-align: center;
    }

    #menu {
        font-size: 25px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

        ul li {
            float: left;
            border-right: 1px solid #bbb;
        }

            ul li a {
                display: block;
                color: white;
                text-align: center;
                padding: 20px 18px;
                text-decoration: none;
            }

                ul li a:hover {
                    background-color: #111;
                }

    #c_content {
        height: 830px;
        text-align: center;
        font-size: 25px;
    }

    ol li {
        list-style-position: inside;
        line-height: 2.5;
    }

    #c_search {
        height: 400px;
        line-height: 2.5;
        font-size: 25px;
    }

    input {
        font-size: 25px;
    }

    #footer {
        background-color: #808080;
        text-align: center;
        clear: both;
        padding: 10px;
        font-size: 20px;
    }
</style>


<title>AirWAD - Search Rental Page</title>

<body style="background-color:#76C25B">

    <div id="container">

        <div id="header">
            <div id="h_name">
                <p>AirWAD - Search Rental Page</p>
            </div>
            <div id="h_buttons">
                <a href="@Url.Action("Welcome", "Client")"><input class="button" type="button" value="Log Out"></a>
            </div>
        </div>

        <div id="content">
            <div id="menu">
                <ul>
                    <li><a href="@Url.Action("Home", "Client")">Home</a></li>
                    <li><a href="@Url.Action("AddRental", "Client")">Add Rental</a></li>
                    <li><a href="@Url.Action("SearchRentals", "Client")">Search Rentals</a></li>
                    <li><a href="@Url.Action("BoughtRentals", "Client")">Bought Rentals</a></li>
                    <li style="float:right"><a href="@Url.Action("Home", "Client")">Hello @User.Identity.Name</a></li>
                </ul>
            </div>

            <div id="c_search" style="margin-left:20px">
                @using (Html.BeginForm("SearchRentals", "Client", FormMethod.Get))
                {
                    <br>
                    <b class="labels">Search By:</b>
                    <br>
                    @Html.RadioButton("searchBy", "City", true) <text> City: </text>
                    <br>
                    @Html.RadioButton("searchBy", "Price", true) <text> Price Smaller Than: </text>
                    <br>
                    <div class="boxes">
                        @Html.TextBox("search")
                    </div>
                    <br>
                    <input class="buttons" type="submit" value="Search" />
                }
            </div>

            <div id="c_content">
                 <h3>List of all the Rentals Found</h3><br>
                        
                    <table style="width: 100%; text-align: center;border: 2px solid black;" border=1 frame=void rules=rows>
                        <thead style=" font-size: 25;">
                            <tr>
                                <th>City</th>
                                <th>Address</th>
                                <th>Starting Date</th>
                                <th>Ending Date</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Author</th>
                                <th>Options</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var listing in Model.Listings)
                            {
                            <tr style=" font-size: 20; height:150px">
                                <td>@listing.Rental.City</td>
                                <td>@listing.Rental.Address</td>
                                <td>@listing.StartDate</td>
                                <td>@listing.EndDate</td>
                                <td>@listing.Rental.Description</td>
                                <td>@listing.Price</td>
                                <td>User</td>
                                <td>
                                    <a class="buttons" asp-controller="Client" asp-action="BuyListing" asp-route-Id="@listing.Id">Buy</a>
                                    <a class="buttons" asp-controller="Client" asp-action="DeleteListing" asp-route-Id="@listing.Id">Delete</a>
                                </td>
                            </tr>
                            }
                        </tbody>

                    </table>

            </div>
        </div>

        <div id="footer">
            <p> Copyright Lab - WAD, Search Rental Page</p>
        </div>

    </div>

</body>