@model PocketPlane.Models.Admins.AdminPastFlightsViewModel

@{
    ViewData["Title"] = "PastFlights";
}

<h1 class="title">Past Flights</h1>
<link rel="stylesheet" type="text/css" href="~/css/tableView.css?v=<%= DateTime.Now.Ticks %" />
<table>
    <thead>
        <tr>
            <th>FlightNo</th>
            <th>Business Price</th>
            <th>Economy Price</th>
            <th>Departure Date</th>
            <th>Departure Airport</th>
            <th>Departure City</th>
            <th>Departure Hour</th>
            <th>Arrival Date</th>
            <th>Arrival Airport</th>
            <th>Arrival City</th>
            <th>Arrival Hour</th>
            <th>Details</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var flight in Model.PastFlights)
        {
        <tr>
            <td>@flight.FlightNo</td>
            <td>@flight.BusinessPrice</td>
            <td>@flight.EconomyPrice</td>
            <td>@flight.FlightSchedule.DepartureDate.Date</td>
            <td>@flight.FlightSchedule.DepartureAirport</td>
            <td>@flight.FlightSchedule.DepartureCity</td>
            <td>@flight.FlightSchedule.DepartureHour</td>
            <td>@flight.FlightSchedule.ArrivalDate.Date</td>
            <td>@flight.FlightSchedule.ArrivalAirport</td>
            <td>@flight.FlightSchedule.ArrivalCity</td>
            <td>@flight.FlightSchedule.ArrivalHour</td>
            <td><a class="buttons" asp-controller="Admins" asp-action="DetailsFlight" asp-route-Id="@flight.Id">Details</a></td>
        </tr>
        }
    </tbody>

</table>


